ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: end;
}

li {
  padding: 1rem;
}

.nav-link:hover {
  font-weight: bold;
}

.navbar-collapse {
  justify-content: end;
}

.nav-link {
  display: flex;
  justify-content: end;
}
