@import "globales";
@import "variables";
@import "navbar";
@import "footer";
@import "mixins";

/* BOTÓN TIENDA */
.btntienda {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.2rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.btntienda:hover {
  background-color: orange;
  color: #242424;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 500ms ease;
}
/* CIERRO BOTÓN TIENDA */

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

.col {
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-transform: capitalize;
  color: $primary-color;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.intro-p {
  border: solid;
  border-color: black;
  width: 500px;
  height: 500px;
}

/* Search bar tienda */
.search {
  width: 100%;
  position: relative;
  display: flex;
  text-align: center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #242424;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  height: 98%;
}

.searchTerm:focus {
  color: $primary-color;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #242424;
  background: #242424;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
/* cierro search bar tienda */

/* imagen index */
.novedadesindex {
  height: 200px;
  width: 400px;
  max-width: auto;
}

.imgindex {
  width: 100%;
  background-color: rgb(31, 29, 29);
}

.colorbannerindex {
  color: white;
}
/* cierro banner */

/* Mark index */
.mark {
  background-color: $primary-color;
  color: white;
}

.centrar {
  display: flex;
  justify-content: center;
}

.align {
  text-align: center;
  padding: 4rem;
}

.align-nosotros {
  display: block;
  justify-content: center;
  width: 400px;
  border: 1px solid #140101;
}

.marginbottom {
  margin: 0 1.5rem 1rem 0;
}

.marginbottom-2 {
  margin: 0 0.4rem 1rem 0;
}

.flex-container {
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shadow {
  box-shadow: black;
}

/* Fieldset Nosotros */
fieldset {
  background-image: linear-gradient(80deg, crimson, rgb(250, 75, 75));
  color: white;
}

.imglogo {
  width: 120px;
  height: 65px;
  margin: 0 0 0 20px;
}

.containergrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/* Media Q*/
@media (max-width: 320px) {
  h1 {
    text-transform: capitalize;
    color: crimson;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    padding: 0;
  }

  .align {
    text-align: center;
    padding: 0;
  }

  .fieldset {
    padding: auto;
    margin: auto;
  }

  .form {
    padding: auto;
  }

  .marginbottom {
    margin: auto;
  }

  .marginbottom-2 {
    margin: auto;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0;
  }

  .intro-p {
    padding: 5px 5px 5px 5px;
    margin: 0;
    border: solid;
    border-color: black;
  }

  body {
    font-size: 1.2rem;
  }

  .imglogo {
    display: none;
  }

  .img-tienda {
    width: 350px;
    padding: 10px;
  }

  .img-nosotros {
    width: 350px;
    padding: 10px;
  }
}
@media (min-width: 1000px) {
  ul {
    justify-content: end;
  }
}
